<h1>Welcome to Express Handblebars</h1>

<!--Helper-->
{{today}}
{{!-- truyền vào biến toàn cục date --}}
{{{formatDate date}}}

<!--HTML Escape-->
<!--
<p>Hello {{{name}}}</p>
<p>How is the weather in {{{location}}}?</p>
-->
<!--IF
{{#if user.isLogin}}
<p>Hello {{{name}}}</p>
<p>How is the weather in {{{location}}}?</p>
{{else}}
<button>Please Login to view this page</button>
{{/if}}-->

<!--UNLESS
{{#unless user.isLogin}}
<button>Please Login to view this page</button>
{{else}}
<p>Hello {{{name}}}</p>
<p>How is the weather in {{{location}}}?</p>
{{/unless}}-->

<!--Iteration each
{{#each languages}}
    <!--{{@index}} lấy ra index, {{this}} lấy ra phần tử
    {{@index}} {{this}}<br/>
{{/each}}

<ol>
    {{#each languages}}
        <li>
            {{this}}<br/>
        </li>
    {{/each}}
</ol>

<ul>
    {{#each links}}
        <li>
            <a href="{{url}}">{{title}}</a>
        </li>
    {{/each}}
</ul>

{{!-- with --}}
<h2>User</h2>
{{#with user}}
    {{address.street}}, {{address.city}}
{{/with}}
<br>
{{#with user.address}}
    {{../name}}
    {{street}}, {{city}}
{{/with}}
<br>
{{#with user}}
    {{#with address}}
        {{../../name}}
        {{street}}, {{city}}
    {{/with}}
{{/with}}-->